@viewport{
    width:100vw
}

div#welcome{
    margin-left: 35%;
    margin-top: 8%;
}
    .card-deck .card-columns .card {
        width: 650px;

    }
    div#slide{
        width:100px;
        height:50px;
        margin-left: 40%;
    }
    div#slide img{

    }
@media only screen and (max-width: 480px) {
    .card-deck .card-columns .card {
        width: 300px;

    }
    div#welcome{
        margin-left: 10%;
        margin-top: 17.5%;
    }
    div#slide{

        margin-left: 25%;
    }
}





